@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700;800;900&family=PT+Serif:wght@700&display=swap");

/* font-family: 'Libre Franklin', sans-serif; */
/* font-family: 'PT Serif', serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {

  --bgcolor: #180f27;
  --textcolor: #85b3de;
  --graycolor:#757088;
  --golden-color:#F8C808;
}
body {
  font-family: "Libre Franklin", sans-serif;
  background-color: var(--bgcolor);
}
a{
    text-decoration: none;
}
nav {
  padding: 20px 0;
  min-height: 10vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0% 10%;
  background-color: var(--bgcolor);
}
.nav-logo-side {
  gap: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo-img {
  height: 50px;
}
.logo {
  color: #fff;
  font-size: 30px;
  font-family: "PT Serif", serif;
}
.link {
  list-style: none;
  display: flex;
  gap: 20px;
}
.about {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
.burger{
    display: none;
}

































/* nav end */

.hero {
  background-color: var(--bgcolor);
  min-height: 90vh;
  padding: 0 10%;
  display: flex;
  align-items: center;
}
.hero-left {
  width: 50%;
}
.text-2 {
  padding-left: 50px;
  letter-spacing: 4px;
  z-index: 1;
  position: relative;
  font-family: "PT Serif", serif;

  font-size: 45px;
  color: #fff;
}
b {
  color: var(--textcolor);
}
.text1 {
  font-size: 25px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.73);
  margin-top: 10px;
  font-weight: 300;
}
.social-links{
  display: flex;
  margin-top: 30px;
  font-size:35px;
  gap: 30px;
  color: var(--graycolor);

}
.facebook{
  cursor: pointer;
}


.hero-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.img1 {
  height: 100%;
  z-index: 2;
  width: 70%;
  object-fit: cover;
}
.animation-wing {
  position: absolute;
  animation: wing 1.3s ease-in-out forwards 0.2s , shake 2.5s  infinite ease alternate-reverse 1.3s  ;

  transform: translateY(5%) rotateX(-90deg);

  width: 130%;
  transform-origin: bottom;
}

@keyframes wing {
  from {
    transform: translateY(5%) rotateX(-90deg);
  }
  to {
    transform: translateY(0%) rotateX(0deg);
  }
}

@keyframes shake {
    from{
        transform: rotatex(-25deg);
    }    
    to{
        transform: rotatex(0deg);
    }
}



/* hero section copmplete */


.about-section{
  margin-top: 100px;
  display: flex;
  width: 100%;
  /* align-items: center; */
  padding: 0 10%;
   
}
.about-left{
  width: 50%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.stroke-image{
  font-weight: 900;
  font-size: 400px;
  background-position:top;
  background-image:url(./images/back-stroke.jpg) ;
font-family: 'PT Serif', serif;
background-size:cover ;
background-clip: text;
-webkit-background-clip: text;
color: transparent;

}

.text3{
  margin-top: -50px;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  letter-spacing: 4px;

}
.text4{
  font-size: 18px;
  margin-top: 80px;
  color: #fff;
  font-weight: 300;

}
.text5{
  font-size: 18px;
  margin-top: 20px;
  color: #fff;
  font-weight: 300;

}


.about-right{
  width: 50%;
}
.text6{
  margin-top: 120px;

  font-size: 18px;
  font-weight:300 ;
  color:var(--golden-color) ;
}
.text7{
  margin-top: 10px;
  font-size: 70px;
  color: #fff;
  font-family: 'PT Serif', serif;
  

}
.staright-line{
  width: 100%;
  height: 1px;
  margin-top: 50px;
  margin-bottom: 50px;

  background-color: var(--graycolor);
  display: flex;
  align-items: center;
}
.inner-line{
  width: 100px;

  height: 5px;
  background-color: var(--golden-color);
}
.text8{
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  margin-top: 20px;
}
.btn1{
  width: 180px;
  height: 50px;
  background-color: var(--golden-color);
  color:black;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: .3s;

}
.btn1:hover{
  background-color:#eacd5b;
  color: #fff;
}
























@media (max-width:1397px) {
  .about-left{
    padding-right: 5%;
  }
  .about-section{
    margin-top: 0px;
  }
}







@media (max-width: 1225px) {
  .text-2 {
    font-size: 30px;
    padding-left: 20px;
  }
  .text1 {
    font-size: 20px;
    line-height: 33px;
  }
  .stroke-image{
    font-size: 300px;
  }
  .text6{
    margin-top:100px;
  }
  .text8{
    font-size: 16px;
  }
}
@media (max-width:935px) {
   .stroke-image{
    font-size: 250px;
  }
   .text6{
    margin-top:80px;
  }
}



@media (max-width:839px) {
    .text-2{
        text-align: center;
        padding-left: 0;
    }
    .text1{
        text-align: center;
    }
    .hero{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .hero-left{
        width: 100%;
        padding-top:60px;
    }
    .hero-right{
        width: 100%;
    }
    .animation-wing{
        width: 110%;
    }
    .burger{
        width: 40px;
        height: 40px;
        display: flex;
        gap: 8px;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
        z-index: 7;
        position: relative;
        justify-content: center;


    }
    .burger span{
        background-color: #fff;
        width: 35px;
        transition: ease-in .3s;
        height: 3px;
        border-radius: 3px;
    }
    .active span{
        background-color:black;
    }
    .active span:nth-child(1){
         transform: rotateZ(45deg) translateY(500%);
         
    }
    .active span:nth-child(2){
         opacity: 0;
    }
    .active span:nth-child(3){
        transform: rotateZ(-45deg) translateY(-500%);
         
    }
    .about{
        color: black;
    }
    .link{
        transition: all ease-in-out .5s;
        position:fixed;
        width: 300px;
        height: 100vh;
        padding-top: 130px;
        top: 0;
        gap: 50px;
        padding-left: 20px;
        right: -300px;
        flex-direction: column;
        align-items: left;
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.794);
    }
    .open{
      right: 0;
    }
    .social-links{
      width: 100%;
      justify-content: center;
    }
    .about-section{
      flex-direction: column-reverse;
    }
    .about-left{
      width: 100%;
      text-align: left;
      flex-direction: row;
      align-items: center;
      gap:30px;
    }
    .text3{
      margin-top: -20px;
    }
    .text4{
      margin-top: 20px;
    }
    .about-right{
      width: 100%;
    }
    .all-text-in{
      margin-top: 37px;
    }
}